*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
body{
    background-color:hsl(218, 23%, 16%);
    width: 100%;
    height:700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: hsl(217, 19%, 24%);
    width: 480px;
    height: 300px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.inner-cont{
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 65px;
}
.header-name{
    color:hsl(150, 100%, 66%);
}
.advice{
    font-size: 25px;
    color: #FFF;
}
.decor{
    display: flex;
    color: #FFF;
    gap: 30px;
}
.next{
    cursor: pointer;
}